*.txt
*.zip
*.json
*.pdf
.vscode/

# hw1

data/
ojdata/
raw-data/

测试语料/
拼音汉字表/
输入输出格式样例/
语料库/

/hw1/version.py

# hw2 

__pycache__/
logs/
models/
Dataset/

# hw3

loc_hw3/
TestCases/